<!DOCTYPE html>
<html>
  <head>
    <title>Molar Mass Calculator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <style>
      body {
        margin: 0;
        font-family: 'Roboto Condensed', sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="root"><%- html -%></div>
    <script>
      window.__PRELOADED_STATE__ = <%- preload -%>;
    </script>
    <script src="/bundle.js"></script>
<style id="jss-server-side"><%- css -%></style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-101529344-1', 'auto');
      ga('send', 'pageview');
    
    </script>
  </body>
</html>
